alert tcp any any -> any any (msg:"get phone number withch match in tcp"; content:"phone";pcre:"/(13[0-9]|14[5|7]|15[0|1|2|3|5|6|7|8|9]|18[0|1|2|3|5|6|7|8|9])\d{8}/"; sid:50001;)
alert tcp any any -> any any (msg:"get phone number less limit withch match in tcp"; content:"p";pcre:"/(13[0-9]|14[5|7]|15[0|1|2|3|5|6|7|8|9]|18[0|1|2|3|5|6|7|8|9])\d{8}/"; sid:50002;)
alert http any any -> any any (msg:"get phone number less limit withch match in http"; content:"p";pcre:"/(13[0-9]|14[5|7]|15[0|1|2|3|5|6|7|8|9]|18[0|1|2|3|5|6|7|8|9])\d{8}/"; sid:50003;)